
  <div id="carouselExampleDark" class="carousel carousel-dark slide container-fluid" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://media.istockphoto.com/vectors/fast-delivery-truck-with-motion-lines-online-delivery-express-quick-vector-id1294611552?k=20&m=1294611552&s=612x612&w=0&h=R35cMBxxtbI_1tpjB2pSdlExeqvb_wHUJ9ld7Q8LKc8=" class="d-block w-100" alt="altfreShipping">
        <div class="carousel-caption d-none d-md-block">
          <h4>Hurry Up!</h4>
          <p>Free delivery only till {{ freeShipping | date: 'dd.MM.yyyy' }}</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="12000"><a href="https://evaspring111.github.io/Le-Corte/">
        <img src="https://scdn.comfy.ua/89fc351a-22e7-41ee-8321-f8a9356ca351/https://cdn.comfy.ua/media/catalog/product/4/4/44_4000_1_.jpg.jpg/w_320" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4>Purchase any table </h4>
          <p>and win invitation for free wine degustation!</p>
        </div></a>
      </div>
      <div class="carousel-item" routerLink="contacts">
        <img src="https://thumbs.dreamstime.com/b/cashback-sign-colorful-brush-design-vector-background-cashback-sign-colorful-brush-strokes-125359171.jpg" class="d-block w-100" alt="cashBack">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="pt-3">Leave your comment and get CASHBACK 50%</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

