<div class="container-fluid mt-5 bg-dark text-light" *ngIf="products.length !=0 || prod.length != 0">
  <div class="cart-product row">
     <table class="table table-responsive table-dark table-hoveral col-sm-12 mt-5">
       <thead class="mt-5 py-5">
         <tr>
           <th>Device</th>
           <th>Price</th>
           <th>Sale</th>
           <th>Final Price</th>
           <th>Delete</th>
         </tr>
       </thead>
         <tbody>
           <tr *ngFor="let item of prod ; let i = index">
             <td>
               <a class="text-decoration-none"
               routerLink="/products/{{item.id}}">
               {{item.name}}
               </a>
             </td>
             <td> {{item.price | currency}} </td>
             <td> {{item.discount}} % </td>
             <td> {{item.total | currency}} </td>
             <td>
                 <button (click)="removeItem(item)"
                     mat-mini-fab color="warn"
                     aria-label="Icon button with a delete icon">
                   <mat-icon>delete</mat-icon>
                 </button>
             </td>
           </tr>
           <tr>
             <td colspan="1"></td>
             <td>
               <button
                 class="big_btns"
                 (click)="emptycart()" class="btn btn-danger">
                   <mat-icon>remove_shopping_cart</mat-icon>

               </button>
             </td>
             <td><button
               class="big_btns"
               routerLink="/" class="btn btn-primary">
               <mat-icon>shopping_basket</mat-icon>
                </button></td>
             <td><strong>Total: {{ grandtal | currency}}</strong></td>
           </tr>
         </tbody>
       </table>
   </div>
   <form
    #form="ngForm"
     ngNativeValidate
    [formGroup]="checkoutForm"
    (ngSubmit)="onSubmit(form.value)"
    class="mt-5 text-center text-ligth">
     <div class="checkout" [hidden]="form.submitted">
       <mat-form-field appearance="fill" >
         <mat-label>Name</mat-label>
         <input
            id="userName"
            type="text"
            formControlName="userName"
            matInput
            placeholder="Inna Green"
            required
            minlength="2"
            maxlength="25"
            for="userName" >
         <mat-error *ngIf="userName.invalid">{{getNameErrorMessage()}}</mat-error>
       </mat-form-field>
     </div>
     <div class="checkout">
       <mat-form-field appearance="fill">
         <mat-label>Address</mat-label>
         <input id="address" type="text" formControlName="address" matInput placeholder="Some Street, 99"  required for="address">
         <mat-error *ngIf="address.invalid">{{getAddressErrorMessage()}}</mat-error>
       </mat-form-field>
     </div>
     <div class="checkout">
       <mat-form-field appearance="fill">
         <mat-label>E-mail</mat-label>
         <input ngModel [email]="true"   id="email" type="email" formControlName="email" matInput placeholder="yourt@mail.com"  required for="mail">
         <mat-error *ngIf="email.invalid">{{getMailErrorMessage()}}</mat-error>

       </mat-form-field>
     </div>
     <button
        id="submitBtn"
        mat-raised-button
        [disabled]="form.invalid"
        color="primary" type="submit"
        class="mb-4 mt-3">
       <mat-icon>payment</mat-icon>
       Purchase</button>
       <!-- <div class="modal fade modal-dialog modal-dialog-centered text-dark" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Success purchap</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="checkoutForm">
              <p>Thanks, {{(this.userName)}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> -->

   </form>
</div>

<ng-container *ngIf="products.length == 0" class="bg-dark text-ligth">
 <div class="container-fluid h-75 mt-5">
   <div class="center">
     <img src="./assets/img/empty.jpg" alt="empty cart">
     <h3>Add new items now!</h3>
     <button routerLink="/home" class="btn btn-outline-primary">Shop Now</button>
   </div>
 </div>
</ng-container>
