@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.navbar{
  border-bottom: solid 5px rgb(189, 233, 233);
}

a:hover,
a:focus{
  color: aqua;
}
#footer_nav:hover,
#footer_nav:focus {
  color: rgb(19, 20, 20);

}
footer {
  width: 100vw;
}

mat-toolbar {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  gap: 55px;
}


