.navbar {
  border-bottom: solid 5px rgb(189, 233, 233);
}

a:hover,
a:focus{
  color: aqua;
}

#footer_nav:hover,
#footer_nav:focus {
  color: rgb(119, 216, 216);
}

footer {
  width: 100vw;
  height: min-content;
}




